src/generated
coverage
node_modules
container.bat
build/
dist/
dbcreate.sql
*_GITHUB_PAT
vitest.workspace.js

# Various system env files - permit test and dev, but exclude .local, production and staging configs
.env.*
!.env.dev
!.env.development
!.env.test
.env.*.local
